@forward 'md3.scss';

ol {
    padding-inline-start: 0;
    list-style: none;
    counter-reset: item;

    li {
        display: flex;
        align-items: center;
        margin-top: 0.25em;
        margin-bottom: 1.25em;
        margin-inline-start: 2.25em;
        counter-increment: item;
        color: rgb(var(--md-scheme-on-surface-variant));

        &::before {
            display: block;
            width: 1.5em;
            height: 2em;
            margin-inline-end: 0.625em;
            margin-inline-start: -2.25em;
            border-radius: 0.75em;
            background: rgb(var(--md-scheme-inverse-surface));
            color: rgb(var(--md-scheme-inverse-on-surface));
            font-weight: 500;
            line-height: 2em;
            text-align: center;
            content: counter(item, decimal);
        }
    }
}

.table-container {
    overflow-x: auto;
    margin-bottom: 2em;

    table {
        min-width: 100%;
        border-collapse: collapse;

        thead {
            color: rgb(var(--md-scheme-on-surface));

            th {
                padding: 0.5em;
                text-align: start;
                border-bottom: solid 0.0625em rgb(var(--md-scheme-outline));
            }
        }

        tbody {
            color: rgb(var(--md-scheme-on-surface-variant));

            td {
                padding: 0.5em;
                text-align: start;
            }
        }
    }
}

.title-actions {
    display: flex;
    gap: 1em;
    align-items: center;

    .actions, [actions] {
        display: flex;
        gap: 0.5em;
        align-items: center;
        margin-inline-start: auto;
    }
}

figure.component-image {
    padding: 0;
    margin: 1.5em 0 4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

    img {
        display: block;
        max-width: 100%;
        width: 48em;
        height: auto;
    }
}

md3-side-sheet-body.md3-component-config {
    padding: 0.5em;

    [md3-type-body="large"] {
        padding: 0 1em;
    }

    .controls-list {
        display: flex;
        flex-direction: column;
        margin: 0.5em 0 1em;

        label.md3-state-component {
            --state-color: var(--md-scheme-on-surface);
            --border-radius: 0.5em;
            --border-size: 0em;
            --outline-color: rgb(var(--md-scheme-secondary));
            --outline-width: 0.1875em;
            --outline-offset: -0.125em;

            display: flex;
            min-height: 3em;
            align-items: center;
            padding: 0 0.5em;
            gap: 0.5em;
            border-radius: var(--border-radius);

            [md3-type-label] {
                flex: 1 1 auto;
            }
        }
    }

    md3-list {
        margin: 1em 0;
    }
}

pre {
    padding: 1em 1.25em;
    border-radius: 0.5em;
    overflow: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgb(var(--md-scheme-outline-variant)) transparent;

    /* Chromium / Safari */
    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}