@forward 'md3.scss';

md3-card.component-container {
    padding: 1.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

md3-side-sheet-body.md3-component-config {
    padding: 0.5em;

    [md3-type-body="large"] {
        padding: 0 1em;
    }

    md3-list {
        margin: 1em 0;
    }
}