.toolbar-demo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40em;

    md3-toolbar {
        flex: 1 1 100%;

        &.md3-vertical {
            align-self: stretch;
        }
    }
}
