:host {
    display: block;
    margin-bottom: 2em;
    
    md3-card {
        padding: 3em 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3em;
        position: relative;
        min-height: 20em;
        overflow: auto;

        &.bg-variant {
            --background-color: rgb(var(--md-scheme-surface-container-high));
            background-color: var(--background-color);
        }

        button.config-button {
            position: absolute;
            top: 0.25em;
            inset-inline-end: 0.25em;
        }
    }
}